<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Panel de Administración</title>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="flex h-screen bg-gray-100">
  <!-- Menú lateral -->
  <div class="w-64 bg-blue-800 screen text-white flex flex-col">
    <!-- Logo / título -->
    <div class="p-6 text-3xl font-bold">Papelería El Bunker</div>
    <!-- Menú scrollable -->
      <nav class="flex-1 flex flex-col p-4 overflow-y-auto">
       <a href="/usuarios/crear" class="p-2 rounded hover:bg-blue-700 text-xl">Crear Usuario</a>
       <a href="/usuarios" class="p-2 rounded hover:bg-blue-700 text-xl">Consultar Usuarios</a>
       <a href="/usuarios/editar" class="p-2 rounded hover:bg-blue-700 text-xl">Modificar Usuario</a>
       <a href="/usuarios/eliminar" class="p-2 rounded hover:bg-blue-700 text-xl">Eliminar Usuario</a>

       <!-- Spacer para separar el botón de logout -->
       <div class="flex-1"></div>

       <!-- Botón de Cerrar Sesión -->
       <a href="login/logout" class="p-2 rounded text-xl hover:bg-red-600 bg-red-500 text-white text-center">
       Cerrar Sesión
       </a>
      </nav>
  </div>

  <!-- Contenido principal -->
  <div class="flex-1 p-6">
    <header class="bg-white shadow rounded p-4 mb-6 flex justify-between items-center">
    <p class="text-gray-700">
      Logueado como: <span class="font-semibold"><%= user ? user.correo : 'Invitado' %></span>
    </p>
    <a href="/login/logout" class="bg-red-500 hover:bg-red-600 text-white font-semibold px-4 py-2 rounded transition">
      Salir
    </a>
  </header>
    <h1 class="text-5xl font-bold mb-6">Bienvenido al Panel de Administración</h1>
    <h1 class="text-3xl font-bold mb-6">Señor administrador</h1>
    <p class="text-xl mb-6">Seleccione una opción del menú lateral para comenzar</p>
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
      <!-- Caja 1 -->  
      <div class="bg-white shadow-lg rounded-lg p-6 text-center">
       <h2 class="text-xl font-bold">Usuarios Totales</h2>
       <p class="text-2xl mt-2">1</p>
      </div>
      <!-- Caja 2 -->  
      <div class="bg-white shadow-lg rounded-lg p-6 text-center">
       <h2 class="text-xl font-bold">Usuarios Activos</h2>
       <p class="text-2xl mt-2">1</p>
      </div>
      <!-- Caja 3 -->  
      <div class="bg-white shadow-lg rounded-lg p-6 text-center">
        <h2 class="text-xl font-bold">Últimos Usuarios Registrados</h2>
        <p class="text-2xl mt-2">1</p>
      </div>
    </div>
  </div>
</body>
</html>

